Dockerfile
.dockerignore
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.bin
*.so
*.exe
.Python/
.git
.gitignore
.gitmodules
.project
.settings
.vs/
.vscode/
temp/
tmp/
*.log
*.sqlite3
*.db
local_settings.py